node_modules/
build
dist
.git
*.md
.gitignore
.DS_Store
.vscode

logs/
*.log

Dockerfile
Dockerfile.*
.dockerignore
docker-compose.prod.yml
docker-compose.yml
k6/
performance-test-add-submission.js
performance-test-load-assignments.js

example.*
.env
project.env
rest.http
LICENSE