
<script>
  const res = await fetch('http://localhost:7800/api/courses');
  const data = await res.json();

  let sample = document.querySelector('#sample');

  sample.innerHTML = data;
</script>

<div id="sample"></div>
